*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
input:focus {
  outline: 1px solid #8bc24e;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  min-height: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 420px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 419px) {
  html {
    font-size: 16px;
  }
}
ul {
  list-style: none;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
@media only screen and (min-width: 420px) {
  body {
    min-width: 1050px;
  }
  body.top-main-nav {
    padding-top: 8em;
  }
  body.sticky-main-nav {
    padding-top: 12em;
  }
}
@media only screen and (max-width: 419px) {
  body {
    min-width: 320px;
    max-width: 420px;
    padding-top: 5rem;
    -webkit-transition: margin .5s ease;
    transition: margin .5s ease;
  }
  body.nav-open {
    margin-left: -61.8%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
html::before {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 0.25em 1em;
  text-align: center;
  color: white;
  background: #2D3090;
  font-weight: 700;
  content: "undefined";
  /*
	@media @desktop-xl {
		background: blue;
		content: "desktop-xl";
	}
	*/
}
@media only screen and (max-width: 419px) {
  html::before {
    background: orange;
    content: "mobile";
  }
}
@media only screen and (min-width: 420px) {
  html::before {
    background: green;
    content: "desktop";
  }
}
@media only screen and (min-width: 420px) {
  header {
    z-index: 10;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: #fff;
    border-width: 1px 0;
    width: 100%;
  }
  .sticky-main-nav header {
    position: fixed;
    top: 0;
  }
  .main-nav {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 1000px;
  }
  .main-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: .1px;
    display: block;
  }
  .main-nav > li {
    display: block;
    float: left;
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
  }
  .top-main-nav .main-nav > li:nth-of-type(2) {
    border-left: 1px solid #d9d9d9;
  }
  .main-nav > li > a {
    height: 60px;
  }
  .item > a {
    text-transform: uppercase;
    font-size: .9rem;
    color: #333;
    padding: 1.35rem 1.46rem;
  }
  .sticky-main-nav .item > a {
    padding: 1.35rem 1.24rem;
  }
  .item > a:hover,
  .item > a:focus,
  .item > a:active,
  .item > a.active {
    background-color: #333;
    color: #fff;
  }
  /*
	li.item:last-of-type {
		background-color: @accent;

		& > a {
			color: @white;

			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: @accent;
			}
		}
	}
	*/
  .home-link {
    border: 0;
    padding: 0;
    background-color: #fff;
  }
  .home-link img {
    margin: 7px 10px 0;
    height: 80%;
  }
  .home-link:hover,
  .home-link:focus,
  .home-link:active {
    background-color: #fff;
  }
  .top-main-nav .home-link {
    position: absolute;
    padding: 0;
    top: -7rem;
    height: 100px;
  }
  .sticky-main-nav .home-link {
    text-align: right;
    padding: 0;
  }
  .sub-menu > a::after {
    content: "▼";
    font-size: .6em;
    margin-left: .5em;
    bottom: .2em;
  }
  .sub-menu:hover > a {
    background-color: #333;
    color: #fff;
  }
  .sub-menu:hover ul {
    display: block;
  }
  .sub-menu ul {
    display: none;
    position: absolute;
    top: 61px;
    border-color: #adadad;
    border-style: solid;
    border-width: 0 1px;
    left: -1px;
    min-width: 130%;
  }
  .sub-menu ul li {
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
  }
  .sub-menu ul a {
    font-size: .8rem;
    padding: .75rem 1.5rem;
    color: #ddd;
    background-color: #333;
  }
  .sub-menu ul a:hover,
  .sub-menu ul a:focus,
  .sub-menu ul a:active,
  .sub-menu ul a.active {
    background-color: #222;
    color: #fff;
  }
}
@media only screen and (max-width: 419px) {
  header {
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
  }
  .main-nav:after {
    content: "Menu";
    cursor: pointer;
    position: absolute;
    top: -2.2rem;
    right: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #8bc24e;
  }
  .nav-open .main-nav:after {
    content: "Close";
  }
  .home-link {
    position: fixed;
    top: .5rem;
    left: 1rem;
  }
  .home-link img {
    max-width: 3.5rem;
  }
  .main-nav {
    position: relative;
    top: 3rem;
    margin-left: 100%;
    -webkit-transition: margin .5s ease;
    transition: margin .5s ease;
  }
  .nav-open .main-nav {
    margin-left: 38.2%;
  }
  .item {
    display: block;
    width: 100%;
    padding: .3rem 0;
    z-index: 200;
    border-color: #ccc;
    border-width: 0 0 1px 1px;
    border-style: solid;
    background-color: #fffff8;
  }
  .item a {
    color: #333333;
    display: block;
    padding: .1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .sub-menu > a {
    display: none;
  }
}
@media only screen and (min-width: 420px) {
  section {
    padding-top: 4em;
    background-image: url('../images/old_mathematics.png');
    background-repeat: repeat-x;
    min-height: calc(100% - 62px - 359px);
  }
}
.page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
@media only screen and (min-width: 420px) {
  .page {
    padding: 3rem 4rem;
    min-height: 750px;
  }
}
@media only screen and (max-width: 419px) {
  .page {
    padding: 1rem ;
    padding-bottom: 5rem;
  }
}
.page iframe {
  margin: 0 auto;
  width: 300px !important;
  display: block;
}
h1,
h2,
h3 {
  line-height: 2.25rem;
}
@media only screen and (max-width: 419px) {
  h1,
  h2,
  h3 {
    line-height: 1.75rem;
  }
}
h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333333;
  font-family: 'EB Garamond', serif;
}
@media only screen and (max-width: 419px) {
  h1 {
    font-size: 1.75rem;
  }
}
h2 {
  font-size: 1.6rem;
  color: #8bc24e;
}
h3 {
  color: #333333;
}
h5 {
  font-size: 1.1rem;
  color: #8bc24e;
  margin-top: 1rem;
}
p {
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
p.small-p {
  font-size: .8rem;
  margin: 1.5rem 0;
}
a {
  color: #8bc24e;
  text-decoration: none;
  cursor: pointer;
}
.big-link {
  color: #8bc24e;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3rem .25rem 0 0;
}
.big-link:hover,
.big-link:focus,
.big-link:active {
  text-decoration: underline;
}
.categories {
  overflow: auto;
}
.category {
  display: block;
  float: left;
  height: auto;
  margin: 1%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #efefef;
}
@media only screen and (min-width: 420px) {
  .category {
    width: 23%;
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 419px) {
  .category {
    width: 98%;
  }
}
@media only screen and (min-width: 420px) {
  .category:nth-of-type(4n+1) {
    margin-left: 0;
  }
  .category:nth-of-type(4n+4) {
    margin-right: 0;
  }
}
.category h3 {
  padding: 0;
  margin: .75em 0 0;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 419px) {
  .category h3 {
    font-weight: 600;
    margin: 0;
  }
}
.category p {
  padding: 0 1em .25em;
  height: 13em;
  margin-bottom: 2rem;
  clear: both;
  font-size: .8rem;
  text-align: center;
}
@media only screen and (max-width: 419px) {
  .category p {
    margin: 0;
    font-size: 1rem;
    height: auto;
  }
}
.category .link {
  display: block;
  padding: 0.75em 0;
  color: #8bc24e;
  font-weight: 700;
}
.category .link:hover,
.category .link:focus {
  text-decoration: underline;
}
.downloadButton {
  display: block;
  max-width: 20rem;
  background-color: #8bc24e;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  line-height: 1.25em;
  font-size: 1.25rem;
  font-weight: 700;
}
.msg-fail,
.msg-success {
  padding: .5rem 1rem;
  width: auto;
  display: inline-block;
  margin-bottom: 1rem;
}
.msg-fail a,
.msg-success a {
  color: inherit;
  text-decoration: underline;
}
.msg-fail {
  color: red;
  background-color: #ffebeb;
}
.msg-success {
  color: green;
  background-color: #6cff6c;
}
.button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fffff8;
  background-color: #8bc24e;
  font-size: .9rem;
  font-weight: 600;
  padding: .5rem;
  border: 0;
}
.sponsors-list {
  border-top: 1px solid #ccc;
}
.sponsors-list:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 420px) {
  .sponsors-list {
    padding: 2rem;
  }
}
@media only screen and (min-width: 420px) {
  .sponsors-list {
    padding: 1rem 0;
  }
}
.sponsors-list div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.sponsors-list img {
  display: inline-block;
  margin: .25rem;
}
@media only screen and (max-width: 419px) {
  .sponsors-list img {
    width: 22%;
    height: 22%;
  }
}
#index section {
  background-repeat: repeat;
  padding-top: 0;
  background-image: url('../images/old_mathematics.png');
}
@media only screen and (max-width: 419px) {
  #index section {
    margin-top: -2rem;
  }
}
#index .page-index {
  background-color: #fff;
}
@media only screen and (min-width: 420px) {
  #index .page-index {
    max-width: 65%;
    padding: 1rem 2rem;
    float: left;
  }
}
@media only screen and (max-width: 419px) {
  #index .page-index {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}
#index .page-index h1 {
  color: #8bc24e;
}
#index .page-index p {
  margin: 0.5em 0;
}
#index .index-left {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 420px) {
  #index .index-left {
    width: 30%;
    float: right;
    display: block;
  }
}
@media only screen and (max-width: 419px) {
  #index .index-left {
    margin: 0 auto;
    text-align: center;
  }
}
#index .slideshow {
  overflow: hidden;
  width: 100%;
}
@media only screen and (min-width: 420px) {
  #index .slideshow {
    height: 494px;
  }
}
@media only screen and (min-width: 420px) {
  #index .slides-1 {
    min-width: 825px;
    left: calc(50% -  412px);
  }
  #index .slides-1:after {
    content: "";
    display: table;
    clear: both;
  }
  #index .slides-3 {
    min-width: 2475px;
    left: calc(50% -  1237px);
  }
  #index .slides-3:after {
    content: "";
    display: table;
    clear: both;
  }
  #index .slides-5 {
    min-width: 4125px;
    left: calc(50% -  2062px);
  }
  #index .slides-5:after {
    content: "";
    display: table;
    clear: both;
  }
  #index .slides-7 {
    min-width: 5775px;
    left: calc(50% -  2887px);
  }
  #index .slides-7:after {
    content: "";
    display: table;
    clear: both;
  }
  #index .slide {
    z-index: 2;
    float: left;
    display: block;
    transform-style: preserve-3d;
    background-color: #fff;
    width: 825px;
    max-width: 1000px;
  }
  #index .slide img,
  #index .slide iframe {
    max-width: 100%;
    opacity: .25;
  }
  #index .slide.active {
    z-index: 3;
  }
  #index .slide.active span {
    display: block;
  }
  #index .slide.active img,
  #index .slide.active iframe {
    opacity: 1;
  }
  #index .slide span {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: .9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 1.5rem;
  }
  #index .slide span strong {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
  }
  #index #slide-0 iframe {
    width: 825px;
    height: 495px;
  }
}
@media only screen and (max-width: 419px) {
  #index .slide {
    display: none;
  }
  #index #slide-0 {
    display: block;
    width: 100%;
  }
  #index #slide-0 img {
    width: 100%;
  }
  #index #slide-0 span {
    display: none;
  }
}
@media only screen and (min-width: 420px) {
  #index .arrow {
    position: absolute;
    top: 45%;
    bottom: 45%;
    width: 45px;
    height: 45px;
    z-index: 5;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #index .arrow.prev {
    left: calc(50% - 4rem -  412.5px);
    background-image: url(/model/2015/slides/back.jpg);
  }
  #index .arrow.next {
    right: calc(50% - 4rem -  412.5px);
    background-image: url(/model/2015/slides/next.jpg);
  }
}
@media only screen and (max-width: 419px) {
  #index .arrow {
    display: none;
  }
}
@media only screen and (min-width: 420px) {
  #index .wrapper {
    padding: 4rem 0 5rem;
  }
  #index .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 419px) {
  #index .wrapper {
    padding: 1rem;
  }
}
#index .counter {
  background-color: #fff;
  padding: 1.5rem 1rem 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #8bc24e;
}
#index .counter h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: .25rem;
}
#index .counter span,
#index .counter em {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
}
#index .counter em {
  margin: 0 .15rem;
}
#index .counter sub {
  font-size: .75rem;
  text-transform: uppercase;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 420px) {
  .winners-nav {
    display: block;
    border-left: 1px solid #ccc;
    padding: 0 0 0 1rem;
    width: 165px;
    font-size: .9rem;
  }
  .winners-nav.float {
    float: right;
    right: -2rem;
  }
  .winners-nav.fixed {
    position: fixed;
    top: calc(62px + 3rem);
    right: calc((100% - 1000px)/2 + 2rem);
  }
  .winners-nav h3 {
    line-height: 1em;
    margin-bottom: .5rem;
    font-size: inherit;
  }
  .winners-nav a {
    display: block;
    text-transform: uppercase;
    color: #333333;
    margin-top: .5rem;
  }
}
@media only screen and (max-width: 419px) {
  .winners-nav {
    display: none;
  }
}
.winners-content {
  overflow: hidden;
}
@media only screen and (min-width: 420px) {
  .winners-content {
    width: calc(1000px - 8rem - 165px);
  }
}
@media only screen and (max-width: 419px) {
  .winners-content {
    width: 100%;
  }
}
.winners-content h2 {
  color: #333333;
  font-size: 1.25rem;
  border-bottom: 2px solid;
}
.winners-content h2 span {
  font-size: .75em;
  padding-left: 1rem;
}
@media only screen and (max-width: 419px) {
  .winners-content h2 span {
    display: none;
  }
}
@media only screen and (min-width: 420px) {
  .winners-content .anchor {
    display: block;
    position: relative;
    top: calc(-62px - 2rem);
  }
}
@media only screen and (max-width: 419px) {
  .winners-content .anchor {
    display: none;
  }
}
.winners-2015 .winners-category:nth-of-type(1) {
  min-height: 750px;
}
.winners-2015 .winners-category:nth-of-type(2) {
  min-height: 460px;
}
.winners-2015 .winners-category:nth-of-type(3) {
  min-height: 620px;
}
.winners-2015 .winners-category:nth-of-type(4) {
  min-height: 620px;
}
.winners-2015 .winners-category:nth-of-type(5) {
  min-height: 620px;
}
.winners-2015 .winners-category:nth-of-type(6) {
  min-height: 460px;
}
.winners-2015 .winners-category:nth-of-type(7) {
  min-height: 460px;
}
.winners-2015 .winners-category:nth-of-type(8) {
  min-height: 780px;
}
.winners-2015 .winners-category:nth-of-type(9) {
  min-height: 460px;
}
.winners-2014 .winners-category:nth-of-type(1) {
  min-height: 590px;
}
.winners-2014 .winners-category:nth-of-type(2) {
  min-height: 600px;
}
.winners-2014 .winners-category:nth-of-type(3) {
  min-height: 760px;
}
.winners-2014 .winners-category:nth-of-type(4) {
  min-height: 590px;
}
.winners-2014 .winners-category:nth-of-type(5) {
  min-height: 620px;
}
.winners-2014 .winners-category:nth-of-type(6) {
  min-height: 580px;
}
.winners-2014 .winners-category:nth-of-type(7) {
  min-height: 760px;
}
.winners-2014 .winners-category:nth-of-type(8) {
  min-height: 730px;
}
.winners-2014 .winners-category:nth-of-type(9) {
  min-height: 640px;
}
.winners-2014 .winners-category:nth-of-type(10) {
  min-height: 590px;
}
.winners-2013 .winners-category:nth-of-type(1) {
  min-height: 630px;
}
.winners-2013 .winners-category:nth-of-type(2) {
  min-height: 640px;
}
.winners-2013 .winners-category:nth-of-type(3) {
  min-height: 680px;
}
.winners-2013 .winners-category:nth-of-type(4) {
  min-height: 730px;
}
.winners-2013 .winners-category:nth-of-type(5) {
  min-height: 560px;
}
.winners-2013 .winners-category:nth-of-type(6) {
  min-height: 710px;
}
.winners-2013 .winners-category:nth-of-type(7) {
  min-height: 640px;
}
.winners-2013 .winners-category:nth-of-type(8) {
  min-height: 640px;
}
.winners-2013 .winners-category:nth-of-type(9) {
  min-height: 700px;
}
.winner {
  margin: 1rem 0;
  width: 100%;
  display: none;
}
.winner:after {
  content: "";
  display: table;
  clear: both;
}
.winner.active {
  display: block;
}
@media only screen and (min-width: 420px) {
  .winner img {
    max-width: 450px;
    max-height: 100%;
    float: left;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 419px) {
  .winner img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.winner h3 {
  line-height: 1em;
  margin: 0 0 .25rem;
  font-size: 1rem;
}
.winner h4 {
  margin: 1rem 0 0;
  font-size: .9rem;
  text-transform: uppercase;
}
.winner p {
  font-size: .9rem;
  margin: .25rem 0;
}
@media only screen and (min-width: 420px) {
  .winner-info {
    width: 237px;
    float: right;
  }
}
.winners-category-list {
  width: 100%;
  border: 1px solid #cccccc;
}
.winners-category-list:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 420px) {
  .winners-category-list {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 419px) {
  .winners-category-list {
    margin-bottom: 3rem;
  }
}
.winners-category-list li {
  float: left;
  display: block;
  height: 135px;
  padding: .25rem;
  border-top: 0.75rem solid #8bc24e;
  border-right: 1px solid #cccccc;
}
@media only screen and (min-width: 420px) {
  .winners-category-list li {
    width: 16.66%;
  }
  .winners-category-list li:nth-of-type(6) {
    border-right: 0;
  }
}
@media only screen and (max-width: 419px) {
  .winners-category-list li {
    width: 33.33%;
  }
  .winners-category-list li:nth-of-type(3n) {
    border-right: 0;
  }
}
.winners-category-list li span {
  display: block;
  font-size: .75rem;
}
.winners-category-list li span:nth-of-type(1) {
  text-transform: uppercase;
  font-weight: 700;
}
.winners-category-list li span:nth-of-type(2) {
  text-transform: uppercase;
  margin: .25rem 0;
  font-weight: 700;
  min-height: 1.5rem;
}
.winners-category-list li span:nth-of-type(3) {
  position: absolute;
  bottom: .25rem;
}
.winners-category-list .gold {
  border-top-color: #eace54;
}
.winners-category-list .silver {
  border-top-color: #cacaca;
}
.winners-category-list .bronze {
  border-top-color: #c6753e;
}
.winners-category-list .gold span:nth-of-type(1) {
  color: #eace54;
}
.winners-category-list .silver span:nth-of-type(1) {
  color: #cacaca;
}
.winners-category-list .bronze span:nth-of-type(1) {
  color: #c6753e;
}
.winners-category-list .merit span:nth-of-type(1) {
  color: #8bc24e;
}
.old-winners article {
  margin-bottom: 4rem;
}
.old-winners article:after {
  content: "";
  display: table;
  clear: both;
}
.old-winners h2,
.old-winners h3 {
  color: #8bc24e;
}
@media only screen and (min-width: 420px) {
  .old-winners img {
    float: left;
    max-width: 30%;
  }
}
@media only screen and (max-width: 419px) {
  .old-winners img {
    margin: 1rem 0;
    width: 100%;
  }
}
@media only screen and (min-width: 420px) {
  .old-winners h2,
  .old-winners h3,
  .old-winners h4,
  .old-winners p {
    display: block;
    width: 100%;
    float: right;
    max-width: 65%;
    margin-left: 0;
  }
}
.old-winners p {
  font-size: 1rem;
}
#sponsorship .page form {
  display: block;
  width: 1000%;
  max-width: 500px;
  margin: 3rem auto;
}
#sponsorship .page ul {
  margin-bottom: 1rem;
}
#sponsorship .page li {
  list-style-type: disc;
  margin: 1rem 1.25rem;
}
#sponsorship .page label {
  display: block;
  color: #8bc24e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8rem;
  margin-bottom: .1rem;
}
#sponsorship .page input,
#sponsorship .page textarea {
  display: block;
  width: 100%;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  padding: .25rem .5rem;
  border: 1px solid #cccccc;
}
#sponsorship .page button {
  display: block;
  padding: .75rem 3rem;
  font-size: 1rem;
  background-color: #8bc24e;
  color: #fff;
  border: none;
  text-transform: uppercase;
}
#sponsorship .page button:hover {
  background-color: #a4cf74;
}
#sponsorship .page hr {
  margin: 2rem 0 4rem;
}
#sponsorship .page .sponsors img {
  display: inline-block;
}
@media only screen and (min-width: 420px) {
  #sponsorship .page .sponsors img {
    margin: .5rem .75rem;
  }
}
@media only screen and (max-width: 419px) {
  #sponsorship .page .sponsors img {
    width: 46%;
    margin: 2%;
  }
}
#jury article:after,
.jury-chair:after,
.jury-member:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 420px) {
  .jury-chair,
  .jury-member {
    float: left;
    width: 48%;
    margin: 4em 0 0;
  }
  .jury-chair:first-of-type,
  .jury-member:first-of-type {
    margin-right: 4%;
  }
}
#jury .title {
  font-size: 1rem;
}
@media only screen and (min-width: 420px) {
  .jury-chair {
    height: 500px;
  }
}
@media only screen and (max-width: 419px) {
  .jury-chair {
    margin-bottom: 3rem;
  }
}
.jury-chair img {
  width: 100%;
}
.jury-chair:first-of-type {
  margin-right: 4%;
}
.jury-chair:first-of-type img {
  width: 50%;
}
.jury-info {
  border: 1px solid #ccc;
  padding: 1em;
  overflow: auto;
}
.jury-info .jury-info-name {
  font-weight: 700;
  display: block;
}
.jury-info .jury-info-first,
.jury-info .jury-info-second {
  float: left;
  width: 50%;
}
.jury-info .jury-info-second {
  padding-left: 1em;
}
.jury-member {
  border: 1px solid #ccc;
}
.jury-member ul {
  overflow: auto;
  list-style: none;
}
.jury-member li {
  width: 44%;
  float: left;
  margin: 1em 4% 0;
}
.jury-member li img {
  max-width: 100%;
}
.jury-member li:nth-of-type(odd) {
  margin-right: 0;
}
.jury-member li:nth-of-type(-n+2) {
  margin-top: 1em;
}
.jury-member .jury-info {
  padding: .25em 0;
  border: none;
  height: 100px;
}
.jury-member .jury-info-position {
  font-size: .9em;
}
.jury-member .title {
  position: absolute;
  top: -2.5rem;
}
@media only screen and (max-width: 419px) {
  .jury-member {
    margin-top: 5rem;
  }
}
.dashboard-login {
  display: none;
  position: absolute;
  right: -0.25rem;
  top: calc(60px +  1.5rem);
  z-index: 10;
  width: 300px;
  padding: 1rem;
  border: 1px solid #cccccc;
  border-top: 3px solid #8bc24e;
  background-color: #fffff8;
}
.dashboard-login.active {
  display: block;
}
.dashboard-login:before {
  z-index: 11;
  position: absolute;
  right: 25%;
  top: -0.75rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fffff8;
  border-color: #8bc24e;
  border-style: solid;
  border-width: 3px 3px 0 0;
}
.dashboard-login input {
  display: block;
  width: 100%;
  font-size: .75rem;
  letter-spacing: 1px;
}
.dashboard-login [type=email],
.dashboard-login [type=text] {
  border: 1px solid #cccccc;
  padding: .75em 1em;
  margin-bottom: .5rem;
}
.dashboard-login [type=submit] {
  border: none;
  background-color: #8bc24e;
  color: #fffff8;
  font-weight: 600;
  padding: .75em;
  text-transform: uppercase;
}
.dashboard-login [type=submit].ajax-error,
.dashboard-login [type=submit].ajax-spinner,
.dashboard-login [type=submit].ajax-success {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5%;
  text-indent: -999999px;
}
.dashboard-login [type=submit].ajax-error {
  background-color: #FDD;
  background-image: url(/view/images/error.svg);
}
.dashboard-login [type=submit].ajax-spinner {
  background-color: #DDF;
  background-image: url(/view/images/spinner.svg);
}
.dashboard-login [type=submit].ajax-success {
  background-color: #DFD;
  background-image: url(/view/images/success.svg);
}
.dashboard-login > a {
  color: #111111;
  text-transform: uppercase;
  text-align: right;
  font-size: .6rem;
  font-weight: 500;
  margin-bottom: 2em;
}
.dashboard-login > a:hover,
.dashboard-login > a:focus,
.dashboard-login > a:active {
  text-decoration: underline;
}
.dashboard-login span {
  display: none;
  font-size: .9em;
}
.dashboard-login span a {
  display: inline;
}
.dashboard-login span.display {
  display: block;
}
.competition label {
  display: block;
  margin-bottom: .5rem;
}
.competition input {
  font-size: .75rem;
  letter-spacing: 1px;
}
.competition [type=email],
.competition [type=text],
.competition [type=password],
.competition [type=submit] {
  display: block;
  width: 100%;
}
.competition [type=email],
.competition [type=text],
.competition [type=password] {
  border: 1px solid #cccccc;
  padding: .75em 1em;
  margin-bottom: 1rem;
  max-width: 30rem;
}
.competition [type=submit] {
  border: none;
  background-color: #8bc24e;
  color: #fffff8;
  font-weight: 600;
  padding: .75em;
  margin-top: 2rem;
  max-width: 15rem;
  text-transform: uppercase;
}
.page-dashboard {
  padding: 0;
}
#dashboard section {
  background: none;
}
#dashboard article {
  margin-bottom: 5rem;
}
#dashboard article:last-of-type {
  clear: both;
  border-top: 1px solid #cccccc;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: .9rem;
}
#dashboard article:last-of-type ol {
  margin-top: 1rem;
}
#dashboard article:last-of-type ol li {
  margin: .25rem;
  margin-left: 1.25rem;
}
#dashboard .submission {
  float: left;
  width: 35%;
  padding-right: 2rem;
}
#dashboard .entries {
  float: right;
  width: 65%;
  padding-left: 2rem;
  border-left: 1px solid #cccccc;
}
#dashboard .entries:after {
  content: "";
  display: table;
  clear: both;
}
#dashboard .entry {
  float: left;
  width: 30%;
  margin: 0 1.5% 3%;
  height: 20rem;
  padding-top: 1rem;
  border: 1px solid #cccccc;
  text-align: center;
}
#dashboard .entry p {
  margin: 0 1rem .7rem;
  font-size: 1rem;
}
#dashboard .entry span {
  font-size: .75rem;
  display: block;
  color: #333333;
}
#dashboard .entry-code {
  background-color: #eeeeee;
  padding: 1rem .5rem;
}
#dashboard .entry-code strong {
  font-size: 1.75rem;
  font-weight: 600;
  color: #8bc24e;
  display: inline-block;
  padding-top: .5rem;
}
#dashboard .entry .button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: .7rem;
  padding: 1em 0 1em;
}
#dashboard .step6 {
  background-color: #eeeeee;
}
#dashboard .step6 .button {
  background-color: #cccccc;
  color: #eeeeee;
}
#dashboard .step6 .entry-code {
  background-color: #fffff8;
}
#submit section {
  background: none;
}
.page-submit {
  padding: 0 16rem 5rem 0;
}
.page-submit:after {
  content: "";
  display: table;
  clear: both;
}
.page-submit h2 {
  margin-bottom: .5rem;
}
.page-submit label {
  display: block;
  text-transform: uppercase;
}
.page-submit label em {
  text-transform: none;
}
.page-submit input[type=text],
.page-submit select,
.page-submit textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin: .5rem 0 1rem;
  padding: .5rem;
}
.page-submit textarea {
  min-height: 10rem;
}
.page-submit .msg-fail {
  padding: 0;
  background: none;
  margin-bottom: 0;
  margin-left: .5rem;
}
.page-submit [type=submit],
.page-submit [type=button] {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fffff8;
  background-color: #8bc24e;
  font-size: .9rem;
  font-weight: 600;
  padding: .5rem;
  border: 0;
  margin-top: 3rem;
  padding: .5rem 2rem;
}
.page-submit .list li {
  font-weight: 700;
  font-size: 1.25rem;
}
.page-submit .list li:before {
  content: "- ";
}
.page-submit .list a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fffff8;
  background-color: #8bc24e;
  font-size: .9rem;
  font-weight: 600;
  padding: .5rem;
  border: 0;
  display: inline-block;
  font-size: .75rem;
  margin-left: 2rem;
  bottom: .25rem;
}
.page-submit .category {
  width: 18%;
  height: 190px;
  margin: 1% !important;
  padding: .75rem;
  border-color: #333333;
  opacity: .2;
}
.page-submit .category img {
  margin-bottom: .5rem;
}
.page-submit .category h4 {
  text-transform: uppercase;
  font-size: .75rem;
}
.page-submit > nav {
  position: absolute;
  right: 0;
  width: 14rem;
  height: 100%;
  border-left: 1px solid #cccccc;
}
.page-submit > nav a {
  display: block;
  text-transform: uppercase;
  color: #8bc24e;
  font-size: .85rem;
  font-weight: 500;
  margin-bottom: .5rem;
  margin-left: 2.5rem;
}
.page-submit > nav a:before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: .1rem;
  display: block;
  width: .75rem;
  height: .75rem;
  border: 1px solid;
  border-radius: 1rem;
  background-color: #fffff8;
}
.page-submit > nav a:after {
  content: "";
  height: 1rem;
  display: block;
  border-left: 1px solid #cccccc;
  position: absolute;
  left: -10.5%;
  top: .9rem;
}
.page-submit > nav a:last-of-type:after {
  display: none;
}
.page-submit > nav .active {
  color: #111111;
  font-weight: 700;
}
.page-submit > nav .active:before {
  border-color: #8bc24e;
  background-color: #8bc24e;
}
.page-submit > nav .done {
  color: #333333;
}
.page-submit > nav .done:before {
  border-color: #cccccc;
  background-color: #cccccc;
}
.page-submit > nav p {
  display: block;
  margin: 3rem 0 0 1rem;
  text-align: right;
}
.page-submit > nav p strong {
  text-transform: uppercase;
  text-align: left;
}
.page-submit > nav p em {
  text-align: left;
  display: inline-block;
  width: 7rem;
  font-style: normal;
  margin-top: .25rem;
}
.step1 article {
  float: left;
  width: 47%;
  margin: 0 1% 2rem;
}
.step1 .entrants1 label:first-of-type {
  margin-top: 2.25rem;
}
.step1 .entrants2 label:first-of-type {
  margin-top: .5rem;
}
.step2 .categories {
  margin-bottom: 3rem;
}
.step2 .categories div:after {
  content: "";
  display: table;
  clear: both;
}
.step2 .categories p {
  font-size: .9rem;
  margin-left: 1%;
  font-style: italic;
}
.step2 input[type=radio] {
  display: none;
}
.step2 input[type=radio]:checked + label {
  opacity: 1;
}
.step3 article {
  float: left;
  width: 45%;
  min-height: 20rem;
  margin: 2rem 0;
}
.step3 article:first-of-type {
  margin-right: 9%;
}
.step4 article {
  margin: 3rem 0;
}
.step4 h2 a {
  font-size: .8rem;
  color: #cccccc;
  text-decoration: underline;
  margin-left: 1rem;
}
.step4 .reviewStep1:after {
  content: "";
  display: table;
  clear: both;
}
.step4 .reviewStep1 div {
  float: left;
  width: 45%;
  font-size: .9rem;
}
.step4 .reviewStep1 div:first-of-type {
  margin-right: 9%;
}
.step4 .reviewStep1 em {
  display: inline-block;
  width: 8rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 1rem;
}
.step4 .reviewStep2:after {
  content: "";
  display: table;
  clear: both;
}
.step4 .reviewStep2 div {
  float: left;
  margin-left: 2rem;
}
.step4 .reviewStep2 .category {
  opacity: 1;
}
.step4 hr {
  margin-bottom: 2rem;
}
.step4 .continue .msg-fail {
  display: inline;
  margin: 0;
}
.step4 .continue label {
  text-transform: none;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.step4 .continue input[type=checkbox] {
  position: absolute;
  left: -1.5rem;
  top: 0.2rem;
}
.step4 .continue p:last-of-type {
  margin-top: 4rem;
}
.step4 .continue a {
  color: #111111;
  text-decoration: underline;
}
.step5:after {
  content: "";
  display: table;
  clear: both;
}
.step5 h1:after {
  content: url(/view/images/lock.svg);
}
.step5 article {
  float: left;
  width: 45%;
  margin-bottom: 2rem;
}
.step5 input[type=text].card-expiry-month,
.step5 input[type=text].card-expiry-year {
  width: 48%;
  display: inline-block;
}
.step5 article:last-of-type {
  margin-left: 9%;
}
.step5 article:last-of-type aside {
  padding: 1.5rem;
  border: 1px solid #cccccc;
}
.step5 article:last-of-type h2 {
  font-size: 1rem;
}
.step5 article:last-of-type span {
  display: block;
  text-align: right;
  margin: 1.5rem 0;
}
.step5 article:last-of-type em {
  font-style: normal;
  font-weight: 600;
  position: absolute;
  left: 0;
}
.step5 article:last-of-type p {
  font-size: .8rem;
}
.step6 .button {
  max-width: 15rem;
}
footer {
  border-top: 1px solid #ccc;
}
footer > div:first-of-type {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
footer > div:first-of-type:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 420px) {
  footer > div:first-of-type {
    padding: 3rem 0;
  }
}
@media only screen and (max-width: 419px) {
  footer > div:first-of-type {
    padding: 1rem;
  }
}
footer nav {
  display: block;
  float: left;
}
@media only screen and (min-width: 420px) {
  footer nav {
    margin-right: 4%;
  }
  footer nav:last-of-type {
    margin-right: 0;
  }
}
@media only screen and (max-width: 419px) {
  footer nav {
    margin: 3% 1%;
    width: 98%;
    font-size: 1.25rem;
  }
}
footer h4 {
  color: #8bc24e;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}
footer h4:nth-of-type(2) {
  margin-top: 1rem;
}
footer a {
  color: #444;
  text-decoration: none;
  display: block;
  font-size: .8rem;
  line-height: 1.5rem;
}
footer a:active,
footer a:focus,
footer a:hover {
  text-decoration: underline;
}
.social-media {
  display: inline-block;
  margin-right: .25rem;
}
footer input,
footer button {
  display: block;
  float: left;
  height: 37px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}
footer input {
  width: 14rem;
  font-family: 'Lato', sans-serif;
  font-size: .9rem;
  line-height: 1em;
  padding: 0 .5rem;
  text-transform: lowercase;
}
footer button {
  border-left: none;
  text-indent: -9999px;
  width: 36px;
  background-image: url(/view/images/button_sub.gif);
}
footer button.ajax-error,
footer button.ajax-spinner,
footer button.ajax-success {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
footer button.ajax-error {
  background-color: #FDD;
  background-image: url(/view/images/error.svg);
}
footer button.ajax-spinner {
  background-color: #DDF;
  background-image: url(/view/images/spinner.svg);
}
footer button.ajax-success {
  background-color: #DFD;
  background-image: url(/view/images/success.svg);
}
footer > div:last-of-type {
  background-color: #eeeeee;
}
footer > div:last-of-type div {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (min-width: 420px) {
  footer > div:last-of-type div {
    padding: 2rem 0 3rem;
  }
}
@media only screen and (max-width: 419px) {
  footer > div:last-of-type div {
    padding: 1rem;
  }
}
@media only screen and (min-width: 420px) {
  footer > div:last-of-type img {
    position: absolute;
    right: 0;
    top: 4rem;
  }
}
footer > div:last-of-type p {
  max-width: 750px;
}
footer > div:last-of-type p:first-of-type {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
}
footer > div:last-of-type p:last-of-type {
  font-size: .75rem;
  color: #333333;
}
