/* Font */
@font-face {
	font-family: 'EBGaramond';
	font-style: normal;
	font-weight: 400;
	src: url('model/font/EBGaramond-Regular.ttf');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url('model/font/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 700;
	src: url('model/font/OpenSans-Bold.ttf');
}

/* Reset */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	position: relative;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: white;
	background-color: #323e31;
	font-size: 16px;
}

body {
	font-size: 100%;
	min-height: 100%;
	font-family: 'OpenSans', sans-serif;
	background-image: url('model/waiting-page/GreenChalkboard.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 3rem;
}

header {
	padding-top: .75em;
	padding-bottom: .5em;
	background-color: white;
}

header a  {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	margin-left: 3rem;
	bottom: 15px;
	color: #2f5692;
}

@media (max-width: 949px){ /* Mobile */
	header {
		text-align: center;
	}

	header img {
		max-width: 50vw;
		height: auto;
	}
}

@media (min-width: 950px){ /* Desktop */
	header {
		padding-left: 3rem;
		margin-bottom: 4rem;
	}
}

h1 {
	font-family: 'EBGaramond', serif;
	font-weight: 400;
	line-height: 1em;
}

@media (max-width: 949px){ /* Mobile */
	h1 {
		font-size: 10.5vw;
		margin: .5em 0;
		text-align: center;
	}
}

@media (min-width: 950px){ /* Desktop */
	h1 {
		margin-left: 3rem;
		font-size: 3.5rem;
		max-width: 450px;
	}
}

.einstein {
	display: block;
	margin: .75rem auto;
	height: auto;
}

@media (max-width: 949px){ /* Mobile */
	.einstein {
		max-width: 60%;
	}
}

@media (min-width: 950px){ /* Desktop */
	.einstein {
		position: absolute;
		top: 8rem;
		left: 34rem;
		max-width: 43%;
	}
}

@media (max-width: 949px){ /* Mobile */
	.home p {
		font-size: 4.25vw;
		text-align: center;
		margin: 1em;
	}
}

@media (min-width: 950px){ /* Desktop */
	.home p {
		font-size: 1.1rem;
		margin-left: 3rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		max-width: 450px;
	}
}

.handwriting {
	display: block;
	height: auto;
}

@media (max-width: 949px){ /* Mobile */
	.handwriting {
		margin: 2rem auto;
		min-width: 70%;
		max-width: 90%;
	}
}

@media (min-width: 950px){ /* Desktop */
	.handwriting {
		margin-left: 3rem;
		max-width: 450px;
	}
}

@media (min-width: 950px){ /* Desktop */
	form p {
		font-size: .9rem;
		margin-bottom: .5em;
		margin-left: 9rem;
	}
}

input {
	padding: .5em;
	cursor: pointer;
	-webkit-appearance: button;
	border-radius: 0;
	border: none;
}

input[type=email]{
	background-color: rgba(255, 255, 255, .7);
}

input[type=submit]{
	color: white;
	background-color: #2f5692;
}

input[type=submit].ajax-success {
	background-color: green;
}

@media (max-width: 949px){ /* Mobile */
	input {
		display: block;
		line-height: 1.25em;
		width: 90%;
		margin: 0 auto .75em;
		font-size: 5vw;
		text-align: center;
	}

	input[type=submit]{
		font-weight: 700;
	}
}

@media (min-width: 950px){ /* Desktop */
	input {
		display: inline-block;
		font-size: .9rem;
		height: 2.25rem;
	}

	input[type=email]{
		margin-left: 3rem;
		width: 18rem;
	}

	input[type=submit]{
		width: 7rem;
	}
}

@media (max-width: 949px){ /* Mobile */
	.social {
		display: inline-block;
		height: 69px;
		margin-top: 10vw;
		margin-left: 25%;
	}

	.social img {
		max-width: 100%;
		height: auto;
	}
}

@media (min-width: 950px){ /* Desktop */
	.social {
		display: inline-block;
		margin-top: 2rem;
		margin-left: 3rem;
	}
}

.twitter {
	margin-left: 1rem;
}

article:after {
	content: "";
	display: table;
	clear: both;
}

article {
	max-width: 1000px;
	min-height: 1;
	margin: 4rem 2rem;
}

article img {
	display: block;
	float: left;
	max-width: 400px;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

article p {
	font-size: 1rem;
	margin: .75rem 0;
}

article h3 span {
	font-style: italic;
	font-weight: 500;
	display: block;
}

