.dashboard-login {
	display: none;
	position: absolute;
	right: -.25rem;
	top: calc(~'60px +  1.5rem');

	z-index: 10;
	width: 300px;
	padding: 1rem;

	border: 1px solid @lightgrey;
	border-top: 3px solid @accent;
	background-color: @white;

	&.active {
		display: block;
	}

	&:before {
		z-index: 11;
		position: absolute;
		right: 25%;
		top: -.75rem;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);

		content: "";
		display: block;
		width: 1.25rem;
		height: 1.25rem;

		background-color: @white;
		border-color: @accent;
		border-style: solid;
		border-width: 3px 3px 0 0;
	}

	input {
		display: block;
		width: 100%;
		font-size: .75rem;
		letter-spacing: 1px;
	}

	[type=email],
	[type=text] {
		border: 1px solid @lightgrey;
		padding: .75em 1em;
		margin-bottom: .5rem;
	}

	[type=submit] {
		border: none;
		background-color: @accent;
		color: @white;
		font-weight: 600;
		padding: .75em;
		text-transform: uppercase;

		&.ajax-error,
		&.ajax-spinner,
		&.ajax-success {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 5%;
			text-indent: -999999px;
		}

		&.ajax-error {
			background-color: #FDD;
			background-image: url(/view/images/error.svg);
		}

		&.ajax-spinner {
			background-color: #DDF;
			background-image: url(/view/images/spinner.svg);
		}

		&.ajax-success {
			background-color: #DFD;
			background-image: url(/view/images/success.svg);
		}
	}

	& > a {
		color: @black;
		text-transform: uppercase;
		text-align: right;
		font-size: .6rem;
		font-weight: 500;
		margin-bottom: 2em;

		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}

	span {
		display: none;
		font-size: .9em;

		a {
			display: inline;
		}

		&.display {
			display: block;
		}
	}

}

.competition {

	label {
		display: block;
		margin-bottom: .5rem;
	}

	input {
		font-size: .75rem;
		letter-spacing: 1px;
	}

	[type=email],
	[type=text],
	[type=password],
	[type=submit] {
		display: block;
		width: 100%;
	}

	[type=email],
	[type=text],
	[type=password] {
		border: 1px solid @lightgrey;
		padding: .75em 1em;
		margin-bottom: 1rem;
		max-width: 30rem;
	}

	[type=submit] {
		border: none;
		background-color: @accent;
		color: @white;
		font-weight: 600;
		padding: .75em;
		margin-top: 2rem;
		max-width: 15rem;
		text-transform: uppercase;
	}

}
