section {

	@media @desktop {
		padding-top: 4em;
		background-image: url('../images/old_mathematics.png');
		background-repeat: repeat-x;

		// Full height - top nav - footer nav
		min-height: calc(~'100% - 62px - 359px');
	}
}

.page {
	.wrapper;
	background-color: #fff;

	@media @desktop {
		padding: 3rem 4rem;
		min-height: 750px;
	}

	@media @mobile {
		padding: 1rem ;
		padding-bottom: 5rem;
	}

	iframe {
		margin: 0 auto;
		width: 300px !important;
		display: block;
	}
}

h1, h2, h3 {
	line-height: 2.25rem;

	@media @mobile {
		line-height: 1.75rem;
	}
}

h1 {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	color: @grey;
	font-family: 'EB Garamond', serif;

	@media @mobile {
		font-size: 1.75rem;
	}
}

h2 {
	font-size: 1.6rem;
	color: @accent;
}

h3 {
	color: @grey;
}

h5 {
	font-size: 1.1rem;
	color: @accent;
	margin-top: 1rem;
}

p {
	margin: 1rem 0;
	font-size: 1.1rem;
	line-height: 1.4rem;

	&.small-p {
		font-size: .8rem;
		margin: 1.5rem 0;
	}
}

a {
	color: @accent;
	text-decoration: none;
	cursor: pointer;
}

.big-link {
	color: @accent;
	text-transform: uppercase;
	font-weight: 700;
	margin: 3rem .25rem 0 0;

	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
}

.categories{
	overflow: auto;
}

.category {
	display: block;
	float: left;
	height: auto;
	margin: 1%;
	text-align: center;
	background-color: #fff;
	border: 1px solid #efefef;

	@media @desktop {
		width: 23%;
		padding-top: 1rem;
	}

	@media @mobile {
		width: 98%;
	}

	@media @desktop {
		&:nth-of-type(4n+1) { margin-left: 0; }
		&:nth-of-type(4n+4) { margin-right: 0; }
	}

	h3 {
		padding: 0;
		margin: .75em 0 0;
		font-weight: 500;
		text-transform: uppercase;

		@media @mobile {
			font-weight: 600;
			margin: 0;
		}
	}

	p {
		padding: 0 1em .25em;
		height: 13em;
		margin-bottom: 2rem;
		clear: both;
		font-size: .8rem;
		text-align: center;

		@media @mobile {
			margin: 0;
			font-size: 1rem;
			height: auto;
		}
	}

	.link {
		display: block;
		padding: 0.75em 0;
		color: @accent;
		font-weight: 700;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.downloadButton {
	display: block;
	max-width: 20rem;
	background-color: @accent;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 1.5rem;
	line-height: 1.25em;
	font-size: 1.25rem;
	font-weight: 700;
}

.msg-fail,
.msg-success {
	padding: .5rem 1rem;
	width: auto;
	display: inline-block;
	margin-bottom: 1rem;

	a {
		color: inherit;
		text-decoration: underline;
	}
}

.msg-fail {
	color: red;
	background-color: lighten(red, 46%);
}

.msg-success {
	color: green;
	background-color: lighten(green, 46%);
}

.button {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: @white;
	background-color: @accent;
	font-size: .9rem;
	font-weight: 600;
	padding: .5rem;
	border: 0;
}

.sponsors-list {
	.group;
	border-top: 1px solid #ccc;

	@media @desktop {
		padding: 2rem;
	}

	@media @desktop {
		padding: 1rem 0;
	}

	div {
		.wrapper;
	}

	img {
		display: inline-block;
		margin: .25rem;

		@media @mobile {
			width: 22%;
			height: 22%;
		}
	}
}
