.page-dashboard {
	padding: 0;
}

#dashboard {

	section {
		background: none;
	}

	article {
		margin-bottom: 5rem;
	}

	article:last-of-type {
		clear: both;
		border-top: 1px solid @lightgrey;
		padding-top: 2rem;
		margin-top: 2rem;
		font-size: .9rem;

		ol {
			margin-top: 1rem;
		}

		ol li {
			margin: .25rem;
			margin-left: 1.25rem;
		}
	}

	.submission {
		float: left;
		width: 35%;
		padding-right: 2rem;
	}

	.entries {
		.group;
		float: right;
		width: 65%;
		padding-left: 2rem;
		border-left: 1px solid @lightgrey;
	}

	.entry {
		float: left;
		width: 30%;
		margin: 0 1.5% 3%;
		height: 20rem;
		padding-top: 1rem;
		border: 1px solid @lightgrey;
		text-align: center;
	}

	.entry p {
		margin: 0 1rem .7rem;
		font-size: 1rem;
	}

	.entry span {
		font-size: .75rem;
		display: block;
		color: @grey;
	}

	.entry-code {
		background-color: @reallylightgrey;
		padding: 1rem .5rem;

		strong {
			font-size: 1.75rem;
			font-weight: 600;
			color: @accent;
			display: inline-block;
			padding-top: .5rem;
		}
	}

	.entry .button {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		font-size: .7rem;
		padding: 1em 0 1em;
	}

	.step6 {
		background-color: @reallylightgrey;

		.button {
			background-color: @lightgrey;
			color: @reallylightgrey;
		}

		.entry-code {
			background-color: @white;
		}
	}
}
