footer {
	border-top: 1px solid #ccc;
}

footer > div:first-of-type {
	.wrapper;
	.group;

	@media @desktop {
		padding: 3rem 0;
	}

	@media @mobile {
		padding: 1rem;
	}
}

footer nav {
	display: block;
	float: left;

	@media @desktop {
		margin-right: 4%;
		&:last-of-type{ margin-right: 0; }
	}

	@media @mobile {
		margin: 3% 1%;
		width: 98%;
		font-size: 1.25rem;

		&:nth-of-type(-n+2) {
			//display: none;
		}
	}
}

footer h4 {
	color: @accent;
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: .5px;
	margin-bottom: .5rem;

	&:nth-of-type(2){
		margin-top: 1rem;
	}
}

footer a {
	color: #444;
	text-decoration: none;

	display: block;
	font-size: .8rem;
	line-height: 1.5rem;

	&:active,
	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

.social-media {
	display: inline-block;
	margin-right: .25rem;
}

footer input,
footer button {
	display: block;
	float: left;
	height: 37px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

footer input {
	width: 14rem;
	font-family: 'Lato', sans-serif;
	font-size: .9rem;
	line-height: 1em;
	padding: 0 .5rem;
	text-transform: lowercase;
}

footer button {
	border-left: none;
	text-indent: -9999px;
	width: 36px;
	background-image: url(/view/images/button_sub.gif);

	&.ajax-error,
	&.ajax-spinner,
	&.ajax-success {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50%;
	}

	&.ajax-error {
		background-color: #FDD;
		background-image: url(/view/images/error.svg);
	}

	&.ajax-spinner {
		background-color: #DDF;
		background-image: url(/view/images/spinner.svg);
	}

	&.ajax-success {
		background-color: #DFD;
		background-image: url(/view/images/success.svg);
	}
}

footer > div:last-of-type{
	background-color: @reallylightgrey;

	div {
		.wrapper;

		@media @desktop {
			padding: 2rem 0 3rem;
		}

		@media @mobile {
			padding: 1rem;
		}
	}

	img {
		@media @desktop {
			position: absolute;
			right: 0;
			top: 4rem;
		}
	}

	p {
		max-width: 750px;
	}

	p:first-of-type {
		font-size: 1rem;
		font-weight: 700;
		text-transform: uppercase;
		color: @black;
	}

	p:last-of-type {
		font-size: .75rem;
		color: @grey;
	}
}
