@media @desktop {

	header {
		z-index: 10;
		border-style: solid;
		border-color: #d9d9d9;
		background-color: #fff;
		border-width: 1px 0;
		width: 100%;

		.sticky-main-nav & {
			position: fixed;
			top: 0;
		}
	}

	.main-nav {
		text-align: center;
		.wrapper;
		.group;
		min-width: 1000px;
	}

	.main-nav a {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		letter-spacing: .1px;
		display: block;
	}

	.main-nav > li {
		display: block;
		float: left;
		background-color: #fff;

		border-right: 1px solid #d9d9d9;

		.top-main-nav &:nth-of-type(2) {
			border-left: 1px solid #d9d9d9;
		}

		& > a {
			height: 60px;
		}
	}

	.item > a {
		text-transform: uppercase;
		font-size: .9rem;
		color: #333;
		padding: 1.35rem 1.46rem;

		.sticky-main-nav & {
			padding: 1.35rem 1.24rem;
		}

		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: #333;
			color: #fff;
		}
	}
	/*
	li.item:last-of-type {
		background-color: @accent;

		& > a {
			color: @white;

			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: @accent;
			}
		}
	}
	*/
	.home-link {
		border: 0;
		padding: 0;
		background-color: #fff;

		img {
			margin: 7px 10px 0;
			height: 80%;
		}

		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
		}

		.top-main-nav & {
			position: absolute;
			padding: 0;
			top: -7rem;
			height: 100px;
		}

		.sticky-main-nav & {
			text-align: right;
			padding: 0;
		}
	}

	.sub-menu > a::after {
		content: "▼";
		font-size: .6em;
		margin-left: .5em;
		bottom: .2em;
	}

	.sub-menu:hover {
		& > a {
			background-color: #333;
			color: #fff;
		}

		ul {
			display: block;
		}
	}

	.sub-menu ul {
		display: none;
		position: absolute;
		top: 60px + 1px; // menu + border
		border-color: #adadad;
		border-style: solid;
		border-width: 0 1px;
		left: -1px; // to conpensate the border
		min-width: 130%;

		li {
			text-align: left;
			border-bottom: 1px solid #d9d9d9;
		}

		a {
			font-size: .8rem;
			padding: .75rem 1.5rem;

			color: #ddd;
			background-color: #333;

			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: #222;
				color: #fff;
			}
		}
	}
}

@media @mobile {

	header {
		position: fixed;
		z-index: 10;
		background-color: rgba(255, 255, 255, .9);
		border-bottom: 1px solid #ccc;
		margin-bottom: 1.5rem;
		width: 100%;
		height: 3rem;
		top: 0;
		left: 0;
		right: 0;
	}

	// Menu button
	.main-nav:after {
		content: "Menu";
		cursor: pointer;
		position: absolute;
		top: -2.2rem;
		right: 1rem;
		font-size: 1.1rem;
		font-weight: 700;
		color: @accent;

		.nav-open & {
			content: "Close";
		}
	}

	.home-link {
		position: fixed;
		top: .5rem;
		left: 1rem;

		img {
			max-width: 3.5rem;
		}
	}

	// Links
	.main-nav {
		position: relative;
		top: 3rem;

		margin-left: 100%;
		-webkit-transition: margin .5s ease;
		transition: margin .5s ease;

		.nav-open & {
			margin-left: 38.2%;
		}
	}

	.item {
		display: block;
		width: 100%;
		padding: .3rem 0;
		z-index: 200;
		border-color:#ccc;
		border-width: 0 0 1px 1px;
		border-style: solid;
		background-color: @white;

		a {
			color: @grey;
			display: block;
			padding: .1rem 1rem;
			font-size: 1rem;
			font-weight: 700;
		}
	}

	.sub-menu > a { display: none; }

	.item:last-of-type {
		//display: none;
	}
}
