#index {
	section {
		background-repeat: repeat;
		padding-top: 0;
		background-image: url('../images/old_mathematics.png');

		@media @mobile {
			margin-top: -2rem;
		}
	}

	.page-index {
		background-color: #fff;

		@media @desktop {
			max-width: 65%;
			padding: 1rem 2rem;
			float: left;
		}

		@media @mobile {
			margin-bottom: 2rem;
			padding: 1rem;
		}

		h1 { color: @accent }
		p { margin: .5em 0 }
	}

	.index-left {
		margin-bottom: 1rem;

		@media @desktop {
			width: 30%;
			float: right;
			display: block;
		}

		@media @mobile {
			margin: 0 auto;
			text-align: center;
		}
	}

	.slideshow {
		overflow: hidden;
		width: 100%;

		@media @desktop {
			height: 494px; // height of elements
		}
	}

	@media @desktop {

		.slides(@slides) {
			.group;
			@width: @slides*825px;
			min-width: @width;

			@mid: floor(@width/2);
			left: calc(~'50% - '@mid);
		}

		// n elements of 825px each
		.slides-1 { .slides(1); }
		.slides-3 { .slides(3); }
		.slides-5 { .slides(5); }
		.slides-7 { .slides(7); }

		.slide {
			z-index: 2;
			float: left;
			display: block;
			transform-style: preserve-3d;
			background-color: #fff;
			width: 825px; // 1 element
			max-width: 1000px;

			img,
			iframe {
				max-width: 100%;
				opacity: .25;
			}

			&.active {
				z-index: 3;

				span { display: block; }
				img, iframe { opacity: 1; }
			}


			span {
				display: none;
				background-color: rgba(0,0,0,.75);
				color: #fff;
				font-size: .9rem;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 1rem 1.5rem;

				strong {
					display: block;
					text-transform: uppercase;
					font-weight: 500;
					font-size: 1.25rem;
				}
			}
		}

		#slide-0 iframe {
			width: 825px;
			height: 495px;
		}
	}

	@media @mobile {
		.slide {
			display: none
		}

		#slide-0 {
			display: block;
			width: 100%;

			img {
				width: 100%;
			}

			span {
				display: none;
			}
		}
	}

	.arrow {

		@media @desktop {
			position: absolute;
			top: 45%;
			bottom: 45%;
			width: 45px;
			height: 45px;
			z-index: 5;
			text-indent: -99999px;
			background-repeat: no-repeat;
			background-position: center center;

			&.prev {
				left: calc(~'50% - 4rem - '(825px/2));
				background-image: url(/model/2015/slides/back.jpg);
			}

			&.next {
				right: calc(~'50% - 4rem - '(825px/2));
				background-image: url(/model/2015/slides/next.jpg);
			}
		}

		@media @mobile {
			display: none;
		}
	}

	.wrapper {
		@media @desktop {
			.group;
			padding: 4rem 0 5rem;
		}

		@media @mobile {
			padding: 1rem;
		}
	}

	.counter {
		background-color: #fff;
		padding: 1.5rem 1rem 2.5rem;
		margin-bottom: 3rem;
		text-align: center;
		color: @accent;

		h3 {
			text-transform: uppercase;
			font-size: 1.2rem;
			margin-bottom: .25rem;
		}

		span, em {
			font-size: 2.5rem;
			font-weight: 700;
			font-style: normal;
		}

		em { margin: 0 .15rem; }

		sub {
			font-size: .75rem;
			text-transform: uppercase;
			position: absolute;
			top: 3rem;
			left: 0;
			width: 100%;
			text-align: center;
		}
	}
}
