#jury article,
.jury-chair,
.jury-member {
	.group;
}

.jury-chair,
.jury-member {

	@media @desktop {
		float: left;
		width: 48%;
		margin: 4em 0 0;

		&:first-of-type { margin-right: 4%; }
	}
}

#jury .title {
	font-size: 1rem;
}

.jury-chair {

	@media @desktop {
		height: 500px;
	}

	@media @mobile {
		margin-bottom: 3rem;
	}

	img { width: 100%; }

	&:first-of-type {
		margin-right: 4%;
		img { width: 50%; }
	}
}

.jury-info {
	border: 1px solid #ccc;
	padding: 1em;
	overflow: auto;

	.jury-info-name {
		font-weight: 700;
		display: block;
	}

	.jury-info-first,
	.jury-info-second {
		float: left;
		width: 50%;
	}

	.jury-info-second {
		padding-left: 1em;
	}
}

.jury-member{
	border: 1px solid #ccc;

	ul {
		overflow: auto;
		list-style: none;
	}

	li {
		width: 44%;
		float: left;
		margin: 1em 4% 0;

		img { max-width: 100%; }

		&:nth-of-type(odd){ margin-right: 0; }
		&:nth-of-type(-n+2) { margin-top: 1em; }
	}

	.jury-info {
		padding: .25em 0;
		border: none;
		height: 100px;
	}

	.jury-info-position {
		font-size: .9em;
	}

	.title {
		position: absolute;
		top: -2.5rem;
	}

	@media @mobile {
		margin-top: 5rem;
	}
}
