// Media Queries Breakpoints
// @highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
//               ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
//               ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
//               ~"only screen and (min-device-pixel-ratio: 1.5)";
// @mobile:      ~"only screen and (max-width: 749px)";
// @tablet:      ~"only screen and (min-width: 750px) and (max-width: 1009px)";
// @desktop:     ~"only screen and (min-width: 1010px)";//" and (max-width: 1128px)";

@mobile:   ~"only screen and (max-width: 419px)";
@desktop:  ~"only screen and (min-width: 420px)";

// Media Queries testing
// This adds a label in the top-left corner that displays the current media query state.
html::before {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 0.25em 1em;
	text-align: center;
	color: white;
	background: #2D3090;
	font-weight: 700;
	content: "undefined";

	@media @mobile {
		background: orange;
		content: "mobile";
	}

	// @media @tablet {
	// 	background: purple;
	// 	content: "tablet";
	// }

	@media @desktop {
		background: green;
		content: "desktop";
	}

	/*
	@media @desktop-xl {
		background: blue;
		content: "desktop-xl";
	}
	*/
}
