// Reset
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

input:focus {
	outline: 1px solid @accent;
}

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}

html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-family: 'Open Sans', sans-serif;

	@media @desktop {
		font-size: 16px;
	}

	@media @mobile {
		font-size: 16px;
	}
}

ul { list-style: none }

// Content
body {
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;

	@media @desktop {
		min-width: 1050px;

		&.top-main-nav { padding-top: 8em; }
		&.sticky-main-nav { padding-top: 12em; }
	}

	@media @mobile {
		min-width: 320px;
		max-width: 420px;
		padding-top: 5rem;
		-webkit-transition: margin .5s ease;
		transition: margin .5s ease;

		&.nav-open {
			margin-left: -61.8%;
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			overflow-scrolling: touch;
		}
	}
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Colors
@accent: #8bc24e;
@grey: #333;
@lightgrey: #ccc;
@reallylightgrey: #eee;
@black: #111;
@white: #fffff8;

@gold: #eace54;
@silver: #cacaca;
@bronze: #c6753e;
@merit: @accent;

// Imports
@import 'media-queries.less';
@import 'header.less';
@import 'content.less';
@import 'index.less';
@import 'winners.less';
@import 'sponsorship.less';
@import 'jury.less';
@import 'competition.less';
@import 'dashboard.less';
@import 'submit.less';
@import 'footer.less';
