#sponsorship .page {

	form {
		display: block;
		width: 1000%;
		max-width: 500px;
		margin: 3rem auto;
	}

	ul {
		margin-bottom: 1rem;
	}

	li {
		list-style-type: disc;
		//display: block;
		//width: 100%;
		margin: 1rem 1.25rem;
	}

	label {
		display: block;
		color: @accent;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .8rem;
		margin-bottom: .1rem;
	}

	input,
	textarea {
		display: block;
		width: 100%;
		font-family: Verdana, sans-serif;
		font-size: 1rem;
		padding: .25rem .5rem;
		border: 1px solid @lightgrey;
	}

	button {
		display: block;
		padding: .75rem 3rem;
		font-size: 1rem;
		background-color: @accent;
		color: #fff;
		border: none;
		text-transform: uppercase;

		&:hover {
			background-color: lighten(@accent, 10%);
		}
	}

	hr {
		margin: 2rem 0 4rem;
	}

	.sponsors img {
		display: inline-block;

		@media @desktop {
			margin: .5rem .75rem;
		}

		@media @mobile {
			width: 46%;
			margin: 2%;
		}
	}
}
