#submit section {
	background: none;
}

.page-submit {
	.group;
	padding: 0 16rem 5rem 0;

	h2 {
		margin-bottom: .5rem;
	}

	label {
		display: block;
		text-transform: uppercase;

		em {
			text-transform: none;
		}
	}

	input[type=text],
	select,
	textarea {
		display: block;
		width: 100%;
		font-size: 1rem;
		margin: .5rem 0 1rem;
		padding: .5rem;
	}

	textarea {
		min-height: 10rem;
	}

	.msg-fail {
		padding: 0;
		background: none;
		margin-bottom: 0;
		margin-left: .5rem;
	}

	[type=submit],
	[type=button] {
		.button;
		margin-top: 3rem;
		padding: .5rem 2rem;
	}

	.list li {
		font-weight: 700;
		font-size: 1.25rem;

		&:before {
			content: "- ";
		}
	}

	.list a {
		.button;
		display: inline-block;
		font-size: .75rem;
		margin-left: 2rem;
		bottom: .25rem;
	}

	.category {
		width: 18%;
		height: 190px;
		margin: 1% !important;
		padding: .75rem;
		border-color: @grey;
		opacity: .2;

		img {
			margin-bottom: .5rem;
		}

		h4 {
			text-transform: uppercase;
			font-size: .75rem;
		}
	}
}

.page-submit > nav {
	position: absolute;
	right: 0;
	width: 14rem;
	height: 100%;
	border-left: 1px solid @lightgrey;

	a {
		display: block;
		text-transform: uppercase;
		color: @accent;
		font-size: .85rem;
		font-weight: 500;
		margin-bottom: .5rem;
		margin-left: 2.5rem;
	}

	a:before {
		content: "";
		position: absolute;
		left: -1.5rem;
		top: .1rem;
		display: block;
		width: .75rem;
		height: .75rem;
		border: 1px solid;
		border-radius: 1rem;
		background-color: @white;
	}

	a:after {
		content: "";
		height: 1rem;
		display: block;
		border-left: 1px solid @lightgrey;
		position: absolute;
		left: -10.5%;
		top: .9rem;
	}

	a:last-of-type:after {
		display: none;
	}

	.active {
		color: @black;
		font-weight: 700;

		&:before {
			border-color: @accent;
			background-color: @accent;
		}
	}

	.done {
		color: @grey;

		&:before {
			border-color: @lightgrey;
			background-color: @lightgrey;
		}
	}

	p {
		display: block;
		margin: 3rem 0 0 1rem;
		text-align: right;

		strong {
			text-transform: uppercase;
			text-align: left;
		}

		em {
			text-align: left;
			display: inline-block;
			width: 7rem;
			font-style: normal;
			margin-top: .25rem;
		}
	}
}

.step1 {

	article {
		float: left;
		width: 47%;
		margin: 0 1% 2rem;
	}

	.entrants1 label:first-of-type {
		margin-top: 2.25rem;
	}

	.entrants2 label:first-of-type {
		margin-top: .5rem;
	}
}

.step2 {

	.categories {
		margin-bottom: 3rem;

		div {
			.group;
		}

		p {
			font-size: .9rem;
			margin-left: 1%;
			font-style: italic;
		}
	}

	input[type=radio]{
		display: none;

		&:checked + label {
			opacity: 1;
		}
	}
}

.step3 {

	article {
		float: left;
		width: 45%;
		min-height: 20rem;
		margin: 2rem 0;
	}

	article:first-of-type {
		margin-right: 9%;
	}
}

.step4 {
	article {
		margin: 3rem 0;
	}

	h2 a {
		font-size: .8rem;
		color: @lightgrey;
		text-decoration: underline;
		margin-left: 1rem;
	}

	.reviewStep1 {
		.group;

		div {
			float: left;
			width: 45%;
			font-size: .9rem;

			&:first-of-type {
				margin-right: 9%;
			}
		}

		em {
			display: inline-block;
			width: 8rem;
			font-style: normal;
			font-weight: 700;
			margin-top: 1rem;
		}
	}

	.reviewStep2 {
		.group;

		div {
			float: left;
			margin-left: 2rem;
		}

		.category {
			opacity: 1;
		}
	}

	hr {
		margin-bottom: 2rem;
	}

	.continue {

		.msg-fail {
			display: inline;
			margin: 0;
		}

		label {
			text-transform: none;
			margin-left: 1.5rem;
			margin-bottom: 1rem;
		}

		input[type=checkbox]{
			position: absolute;
			left: -1.5rem;
			top: .2rem
		}

		p:last-of-type {
			margin-top: 4rem;
		}

		a {
			color: @black;
			text-decoration: underline;
		}
	}
}

.step5 {
	.group;

	h1:after {
		content: url(/view/images/lock.svg);
	}

	article {
		float: left;
		width: 45%;
		margin-bottom: 2rem;
	}

	input[type=text] {
		&.card-expiry-month,
		&.card-expiry-year {
			width: 48%;
			display: inline-block;
		}
	}

	article:last-of-type {
		margin-left: 9%;

		aside {
			padding: 1.5rem;
			border: 1px solid @lightgrey;
		}

		h2 {
			font-size: 1rem;
		}

		span {
			display: block;
			text-align: right;
			margin: 1.5rem 0;
		}

		em {
			font-style: normal;
			font-weight: 600;
			position: absolute;
			left: 0;
		}


		p {
			font-size: .8rem;
		}
	}
}

.step6 .button {
	max-width: 15rem;
}
