.winners-nav {

	@media @desktop {
		display: block;
		border-left: 1px solid #ccc;
		padding: 0 0 0 1rem;
		width: 165px;
		font-size: .9rem;

		&.float {
			float: right;
			right: -2rem; // - padding
		}

		&.fixed {
			position: fixed;
			// top nav  + margin
			top: calc(~'62px + 3rem');

			// (window - website)/2
			// is for the size of the sides
			// between the window and the content
			// + 2rem is the passing of the content
			right: calc(~'(100% - 1000px)/2 + 2rem');
		}

		h3 {
			line-height: 1em;
			margin-bottom: .5rem;
			font-size: inherit;
		}

		a {
			display: block;
			text-transform: uppercase;
			color: @grey;
			margin-top: .5rem;
		}
	}

	@media @mobile {
		display: none;
	}
}

.winners-content {
	overflow: hidden;

	@media @desktop {
		// page width - page padding - winners-nav width
		width: calc(~'1000px - 8rem - 165px');
	}

	@media @mobile {
		width: 100%;
	}

	h2 {
		color: @grey;
		font-size: 1.25rem;
		border-bottom: 2px solid;

		span {
			font-size: .75em;
			padding-left: 1rem;

			@media @mobile {
				display: none;
			}
		}
	}
}

.winners-content .anchor {
	@media @desktop {
		display: block;
		position: relative;
		top: calc(~'-62px - 2rem'); // header
	}

	@media @mobile {
		display: none;
	}
}

.winners-category {

	 .winners-2015 & {
		&:nth-of-type(1){  min-height: 750px; }
		&:nth-of-type(2){  min-height: 460px; }
		&:nth-of-type(3){  min-height: 620px; }
		&:nth-of-type(4){  min-height: 620px; }
		&:nth-of-type(5){  min-height: 620px; }
		&:nth-of-type(6){  min-height: 460px; }
		&:nth-of-type(7){  min-height: 460px; }
		&:nth-of-type(8){  min-height: 780px; }
		&:nth-of-type(9){  min-height: 460px; }
	}

	.winners-2014 & {
		&:nth-of-type(1){  min-height: 590px; }
		&:nth-of-type(2){  min-height: 600px; }
		&:nth-of-type(3){  min-height: 760px; }
		&:nth-of-type(4){  min-height: 590px; }
		&:nth-of-type(5){  min-height: 620px; }
		&:nth-of-type(6){  min-height: 580px; }
		&:nth-of-type(7){  min-height: 760px; }
		&:nth-of-type(8){  min-height: 730px; }
		&:nth-of-type(9){  min-height: 640px; }
		&:nth-of-type(10){ min-height: 590px; }
	}

	.winners-2013 & {
		&:nth-of-type(1){  min-height: 630px; }
		&:nth-of-type(2){  min-height: 640px; }
		&:nth-of-type(3){  min-height: 680px; }
		&:nth-of-type(4){  min-height: 730px; }
		&:nth-of-type(5){  min-height: 560px; }
		&:nth-of-type(6){  min-height: 710px; }
		&:nth-of-type(7){  min-height: 640px; }
		&:nth-of-type(8){  min-height: 640px; }
		&:nth-of-type(9){  min-height: 700px; }
	}
}

.winner {
	.group;

	margin: 1rem 0;
	width: 100%;

	display: none;
	&.active { display: block; }

	img {
		@media @desktop {
			max-width: 450px;
			max-height: 100%;
			float: left;
			margin-right: 1rem;
		}

		@media @mobile {
			width: 100%;
			margin-bottom: 1rem;
		}
	}

	h3 {
		line-height: 1em;
		margin: 0 0 .25rem;
		font-size: 1rem;
	}

	h4 {
		margin: 1rem 0 0;
		font-size: .9rem;
		text-transform: uppercase;
	}

	p {
		font-size: .9rem;
		margin: .25rem 0;
	}
}

.winner-info {
	@media @desktop {
		width: 707px - 470px;
		float: right;
	}
}

.winners-category-list {
	.group;
	width: 100%;
	border: 1px solid @lightgrey;

	@media @desktop {
		margin-bottom: 5rem;
	}

	@media @mobile {
		margin-bottom: 3rem;
	}

	li {
		float: left;
		display: block;
		height: 135px;
		padding: .25rem;

		border-top: .75rem solid @accent;
		border-right: 1px solid @lightgrey;

		@media @desktop {
			width: 16.66%;
			&:nth-of-type(6){ border-right: 0; }
		}

		@media @mobile {
			width: 33.33%;
			&:nth-of-type(3n){ border-right: 0; }
		}
	}

	li span {
		display: block;
		font-size: .75rem;

		// Award type
		&:nth-of-type(1){
			text-transform: uppercase;
			font-weight: 700;
		}

		// Title entry
		&:nth-of-type(2){
			text-transform: uppercase;
			margin: .25rem 0;
			font-weight: 700;
			min-height: 1.5rem;
		}

		// entrants
		&:nth-of-type(3){
			position: absolute;
			bottom: .25rem;
		}
	}

	.gold 	{ border-top-color: @gold; }
	.silver { border-top-color: @silver; }
	.bronze { border-top-color: @bronze; }

	.gold   span:nth-of-type(1)	{ color: @gold; }
	.silver span:nth-of-type(1) { color: @silver; }
	.bronze span:nth-of-type(1) { color: @bronze; }
	.merit  span:nth-of-type(1) { color: @accent; }
}

.old-winners {
	article {
		margin-bottom: 4rem;
		.group;
	}

	h2, h3 {
		color: @accent;
	}

	img {
		@media @desktop {
			float: left;
			max-width: 30%;
		}

		@media @mobile {
			margin: 1rem 0;
			width: 100%;
		}
	}

	h2, h3, h4, p {
		@media @desktop {
			display: block;
			width: 100%;
			float: right;
			max-width: 65%;
			margin-left: 0;
		}
	}

	p { font-size: 1rem }
}
